# Исключаем исполняемые файлы
*.exe
*.dll
*.lib
*.so
*.vsidx
*.suo

# Исключаем аудио
*.wav
*.mp3
*.db

# Исключаем модели ИИ
*.pt
*.onnx
*.pkl
*.bin
*.json

*.csv
*.npy

*.manifest
*.appxmanifest

# Исключаем сборки
bin/
obj/
build/
.vs/
Properties/
models/

**/__pycache__/
*.pyc
*.pyo
*.pyd